<div class="row">
    <div class="col">
        <h5>Latest album</h5>
        <iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=2687069142/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="http://mukizvu.bandcamp.com/album/lipshe-or-15-years-of-pangs">Lipshe or 15 years of pangs by muki zvu</a></iframe>
    </div>
</div>
<ul class="list-group">
    {% for post in recent %}
    <li class="list-group-item">
        <a href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a>
    </li>
    {% endfor %}
</ul>
<div class="row">
    <div class="col">
        <h5>Popular recordings</h5>
        <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=2687069142/size=small/bgcol=ffffff/linkcol=0687f5/track=289919981/transparent=true/" seamless><a href="http://mukizvu.bandcamp.com/album/lipshe-or-15-years-of-pangs">Lipshe or 15 years of pangs by muki zvu</a></iframe>
        <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=2687069142/size=small/bgcol=ffffff/linkcol=0687f5/track=3728742663/transparent=true/" seamless><a href="http://mukizvu.bandcamp.com/album/lipshe-or-15-years-of-pangs">Lipshe or 15 years of pangs by muki zvu</a></iframe>
        <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=2687069142/size=small/bgcol=ffffff/linkcol=0687f5/track=3544136512/transparent=true/" seamless><a href="http://mukizvu.bandcamp.com/album/lipshe-or-15-years-of-pangs">Lipshe or 15 years of pangs by muki zvu</a></iframe>
        <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=2687069142/size=small/bgcol=ffffff/linkcol=0687f5/track=1353587272/transparent=true/" seamless><a href="http://mukizvu.bandcamp.com/album/lipshe-or-15-years-of-pangs">Lipshe or 15 years of pangs by muki zvu</a></iframe>
        <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=2687069142/size=small/bgcol=ffffff/linkcol=0687f5/track=546141263/transparent=true/" seamless><a href="http://mukizvu.bandcamp.com/album/lipshe-or-15-years-of-pangs">Lipshe or 15 years of pangs by muki zvu</a></iframe>
        <div style="height: 200px"></div>
    </div>
</div>
<ul class="list-group">
    {% for tag in top_tags %}
    <li class="list-group-item">
        <a href="{{ url_for('posts_by_tag', tag_name=tag[0].title) }}">{{ tag[0].title }}</a>
    </li>
    {% endfor %}
</ul>